#form {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    display: flex;
 
    /* display: none; */
  }
  .form {
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    margin: auto auto;
    border-radius: 5px;
    /* display: none; */
  }
  .form-header {
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 16px 16px 0px 16px;
  }
  .form-body {
    padding: 0px 16px 16px 16px;
  }
  .input-error{
    border:1px solid red !important;
  }
  .lb span {
    color: red;
  }
  .lb{
    margin-bottom: -15px;
  }
  .row-input {
    display: flex;
    margin: 20px 0px;
  }
  .row-input-left {
    position: relative;
  }
  .row-input-left input {
    width: 260px;
  }
  .row-input-right input {
    width: 536px;
  }
  .form input {
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #afafaf;
    height: 36px;
    box-sizing: border-box;
  }
  .row-input-right {
    margin-left: 16px;
    position: relative;
  }
  .form input::placeholder {
    
    font-style: italic;
  }
   input {
    padding: 0px 14px;
    outline-offset: 0.5px;
  }
  .row-input-cl3 {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
  }
  .row-input-cl3 input {
    width: 260px;
  }
  .item-input-cl3 {
    position: relative;
  }
  .row-input-cl3 .up-down {
    top: 35px;
    right: 17px;
    position: absolute;
  }
  .row-input-end {
    display: flex;
  }
  .row-input-end input {
    width: 260px;
  }
  .form-footer {
    display: flex;
    height: 52px;
    flex-direction: row-reverse;
    align-items: end;
    background-color: #edeaff;
    border-radius: 3px;
    padding: 16px;
    box-sizing: border-box;
    align-items: center;
  }
  .form-footer button {
    height: 36px;
    min-width: 100px;
    border: none;
    border-radius: 3px;
    outline: none;
  }
  .form .cancel {
    background-color: #fff;
    margin-right: 10px;
  }
  .btn-hover-blue{
  position: relative;
  }
   .btn-hover-blue:hover .tooltipSave{
    display: block;
  }
   .tooltipSave{
    position: absolute;
    bottom: -28px;
    padding: 4px 10px;
    background-color: #fff;
    color: #000;
    right: 10px;
    opacity: 1 !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    display: none;
  }
  .form .toolipClose {
    position: absolute;
    top: 20px;
    padding: 4px 10px;
    background-color: #fff;
    color: #000;
    right: 0;
    opacity: 1 !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    display: none;
}
  .form .icon-close{
  position: relative;
   text-align: center;
  }
  .form .icon-close:hover .toolipClose{
    display: block;
  }
  .form .icon-close:hover{
    
    opacity: 0.8;
  
  }
  .save {
    background-color: #1aa4c8;
    color: #fff;
  }
  .row-input-left .icon-down-bold {
    position: absolute;
    bottom: -11px;
    right: 16px;
  }
  input:read-only {
    background-color: #edeaff;
    outline: none;
  }
  input[type="date"]{
    appearance: none;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: #4e4e4e;
  }
  input[type="date"]::after{
    color: #000;
  }
  
  .el-date-editor.el-input {
    width: 100% !important;
    height: 36px !important;
    font-size: 13px;
  }
  
  .el-input__wrapper {
    border-radius: 3px !important;
    border: 1px solid #afafaf;
    height: 36px;
    width: 260px;
    overflow: hidden;
    box-shadow: none !important;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 2px 0 14px !important;
    box-sizing: border-box;
  
  }
  .el-input__inner{
    border: none !important;
    margin-bottom: 8px;
  }
  input:hover,.item-input:hover,
 .el-input__wrapper:hover
 
   {
    border-color: #1aa4c8;
    outline-color: #1aa4c8;
    /* outline-width: 1px; */
  }

  .el-input__inner:focus{
    outline: 1px !important;
  }
  .el-input__wrapper.is-focus,
  .el-input__wrapper:focus{
    outline: 1px solid #1aa4c8 !important;
    border-color: #1aa4c8;
  }
  input:focus,.item-input:focus{
    outline-color: #1aa4c8;
    outline-style: hidden
    /* outline: none;
    border-color: #1aa4c8; */
  }
  .border-red .el-input__wrapper {
    border-color: #e03232 !important;
  }
  input#el-id-7454-3::placeholder {
    color: #646060;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
}
  .el-input__inner {
    color: #001031 !important;
  }
  .el-input__wrapper svg {
    color: #646060;
    display: none;
}
.el-input__icon{
  background: url('../../assets//icon/qlts-icon.svg') no-repeat -287px -67px !important;
	width: 18px !important;
	height: 18px !important;
}
  .form-input .el-input__inner::placeholder{
    font-family: "Roboto", sans-serif;
    color: #646060;
  }
  
  .el-date-editor.el-input .el-input__wrapper:hover .el-input__suffix {
    display: none;
  }
  
  .el-icon {
    font-size: 15px !important;
  }
  
  .el-picker-panel__content table tr {
    border: none;
  }
  
  .el-picker-panel__content table tbody tr:hover {
    background-color: #fff;
  }
  
  .el-picker-panel__content table th {
    text-align: center;
  }
  
  .el-picker-panel__content table th:first-child,
  .el-picker-panel__content table td:first-child,
  .el-picker-panel__content table th:last-child,
  .el-picker-panel__content table td:last-child {
    padding: 5px;
  }
  
  .form-input .el-input.is-disabled .el-input__wrapper {
    background-color: #f5f5f5;
  }
  .form-input{
    margin-top: 8px;
  }
  .error {
    position: absolute;
    top: calc(81% + 1px);
    left: 0;
    color: #e03232;
    white-space: nowrap;
    font-size: 11px;
  }
  
  .border-red {
    border-color: #e03232 !important;
  }


  
.el-input
.el-input--prefix
.el-input--suffix
.el-date-editor
.el-date-editor--date
.el-tooltip__trigger
.el-tooltip__trigger {
border: 0px solid transparent !important;
}

.el-input-number .el-input-number__decrease .el-icon svg {
background: url("../../assets/icon/qlts-icon.svg") no-repeat -72px -338px !important;
width: 10px !important;
height: 8px !important;
}

.el-input-number .el-input-number__increase .el-icon svg {
background: url("../../assets/icon/qlts-icon.svg") no-repeat -28px -338px !important;
width: 10px !important;
height: 8px !important;
}

.el-input-number .el-icon {
font-size: 18px !important;
width: 10px !important;
height: 8px !important;
}

.el-input-number.is-controls-right
.el-input-number__decrease
[class*="el-icon"],
.el-input-number.is-controls-right
.el-input-number__increase
[class*="el-icon"] {
transform: none !important;
}

.el-input-number--large {
width: 260px !important;
line-height: 38px;
box-sizing: border-box;
}

.el-input-number path {
display: none;
}

.el-input-number__decrease,
.el-input-number__increase {
background: #ffff !important;
border: none !important;
}

.el-input-number--large .el-input-number__decrease,
.el-input-number--large .el-input-number__increase {
width: 24px !important;
}

.el-input-number.is-controls-right[class*="large"] [class*="decrease"] {
--el-input-number-controls-height: 10px !important;
height: 8px !important;
margin-bottom: 8px;
}

.el-input-number.is-controls-right[class*="large"] [class*="increase"] {
--el-input-number-controls-height: 10px !important;
margin-top: 18px;
height: 8px !important;
}

.el-input-number .el-input__inner {
margin-right: -190px;
padding: 0px 0px 0px 0px;
}

.input-number .el-input__wrapper {
margin-top: 8px;
padding: 1px 20px 0 14px !important;
}

.el-input-number.el-input-number--large.is-controls-right {
border: none !important;
}