#toast {
    background-color: transparent;
    z-index: 3;
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
    font-size: 14px;
  }
  .toast-msg {
    display: flex;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 400px;
    height: 50px;
    background-color: #fff;
    padding: 16px;
    align-items: center;
    border-radius: 3px;
    justify-content: space-between;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.16);
  }
  .toast-left {
    display: flex;
    align-items: center;
  }
  .toast-content {
    margin-left: 16px;
  }
  .icon-success{
    border-radius: 50%;
    border: 6px solid rgb(169, 240, 169);
  }